* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: darkgrey;
  text-align: center;
  padding-top: 3em;
  font-family: Helvetica;
  color: #888;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
}
