#clock {
	position: absolute;
  left: 10%;
  top: 25%;
  width: 1000px;
	padding-left: 268px;
  background-color: red;
}

#timerBar {
  width: 1px;
  height: 2px;
  background-color: lime;
  margin: 350px auto;

}
